---
---

@import "minima";
@import "minima/syntax-highlighting";

body, html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

p img {
  margin: 0 auto;
  display: block;
}

.site-header {
  border-top: 2px solid #424242;
}

#disqus_thread {
  max-width: calc(800px - (30px * 2));
  margin: 20px auto 100px auto;
  position: relative;
  padding: 0 15px;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #FDFDFD;
}